<!DOCTYPE html>
html(lang="es")
	head
		meta(charset='UTF-8', name='viewport', content='width=divice-width, initial-scale=1.0')
		title UNA45
		link(rel="stylesheet", href="css/styles.css")
	body
		header

		footer